.media-library-add-form__input-wrapper {
  margin-bottom: 1.5rem;
}

.media-library-add-form__input-wrapper .js-form-item-upload .form-file {
  margin-bottom: 1rem;
  border: 1px solid #919297;
  border-radius: 15px;
  background: #ffffff;
  padding: calc(0.75rem - 1px) calc(1rem - 1px);
  line-height: 1.5rem;
  color: #232429;
  box-sizing: border-box;
}

.media-library-view .views-exposed-form.usa-form {
  display: block !important;
  width: 100% !important;
  max-width: 50% !important;
}

.media-library-view .views-exposed-form .usa-label {
  margin-top: 0;
}

.media-library-view .views-exposed-form .usa-button {
  margin-top: 2.375rem;
}

.media-library-views-form__rows .media-library-item__attributes {
  bottom: 10px !important;
  background: transparent;
}
