.layout-builder-form #drupal-off-canvas .inline-block-create-button {
  width: auto !important;
}

.layout-builder-form #drupal-off-canvas .button--primary,
.layout-builder-form #drupal-off-canvas .js-media-library-open-button {
  margin: 0 auto !important;
  display: block !important;
  width: 80% !important;
}

.layout-builder-form #drupal-off-canvas .block-categories {
  padding-top: 1rem;
}

.layout-builder-form #drupal-off-canvas .inline-block-list {
  display: inherit !important;
}

.layout-builder-form #drupal-off-canvas .form-type-radio {
  width: auto;
}

.layout-builder-form #drupal-off-canvas .form-type-checkbox {
  align-items: center;
}

.layout-builder-form #drupal-off-canvas .form-type-checkbox .usa-checkbox__label {
  padding-left: 0 !important;
}

.layout-builder-form #drupal-off-canvas .bs_background--position {
  padding-bottom: 1.5rem;
}

.layout-builder-form #drupal-off-canvas .bs_background--position,
.layout-builder-form #drupal-off-canvas .bs_background--repeat {
  max-width: 100% !important;
}

.layout-builder-form #drupal-off-canvas .bs_background--position .form-radios,
.layout-builder-form #drupal-off-canvas .bs_background--repeat .form-radios {
  max-width: unset !important;
}

.layout-builder-form #drupal-off-canvas .bs-group-title {
  margin-left: 0 !important;
}

.layout-builder-form #drupal-off-canvas .usa-form-group {
  margin-top: 0 !important;
}

.layout-builder-form #drupal-off-canvas .spacing-preview .padding-box {
  height: auto !important;
}

.layout-builder-form #drupal-off-canvas .usa-radio__label {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.layout-builder-form #drupal-off-canvas #bs-border-preview {
  width: auto !important;
}

.layout-builder-form #drupal-off-canvas .inline-block-list li {
  width: 100% !important;
  border-bottom: 0 !important;
}

.layout-builder-form .usa-alert {
  width: 100%;
  margin-top: 1rem;
}

.layout-builder-form .entity-view-display-layout-builder-form {
  max-width: 100% !important;
  padding: 1rem 0;
}

.layout-builder-form .entity-view-display-layout-builder-form .layout-builder__message {
  padding-top: 1rem;
}
