@import "variables";
@import "mixins";

#drupal-off-canvas {

  // Graphical Layout Columns
  .uswds_breakpoint_cols {
    label {
      font-size: .875rem;
      position: relative;
      display: flex !important;
      margin: 0 -5px;
      cursor: pointer;

      &:hover {
        .uswds_tooltip {
          opacity: 1;
          pointer-events: auto;
          transform: translateY(0px);
        }

        .uswds_breakpoint_col {
          background-color: $white;
          color: $gray-444;
        }
      }
    }

    input {
      opacity: 0;
      height: 0;
      display: block;

      &:checked + label .uswds_breakpoint_col {
        color: $white;
        background-color: $blue-277;
      }
    }
  }

  .uswds_breakpoint_col {
    padding: 6px 10px;
    margin: 5px;
    text-align: center;
    color: $gray-444;
    background-color: rgba($white, .7);
    transition: all .25s ease-out;
    border-radius: 3px;

    &.uswds-selected {
      &:hover {
        color: $gray-444;
      }
    }
  }
}
