@import "variables";
@import "mixins";

/* stylelint-disable selector-max-id */
#drupal-off-canvas {

  // Graphical Layout Columns
  .uswds_breakpoint_cols {
    label {
      position: relative;
      display: flex !important;
      margin: 0 -5px;
      cursor: pointer;
      font-size: 0.875rem;

      &:hover {
        .uswds_tooltip {
          transform: translateY(0);
          pointer-events: auto;
          opacity: 1;
        }

        .uswds_breakpoint_col {
          color: $gray-444;
          background-color: $white;
        }
      }
    }

    input {
      display: block;
      height: 0;
      opacity: 0;

      &:checked + label .uswds_breakpoint_col {
        color: $white;
        background-color: $blue-277;
      }
    }
  }

  .uswds_breakpoint_col {
    margin: 5px;
    padding: 6px 10px;
    transition: all 0.25s ease-out;
    text-align: center;
    color: $gray-444;
    border-radius: 3px;
    background-color: rgba($white, 0.7);

    &.uswds-selected {
      &:hover {
        color: $gray-444;
      }
    }
  }
}
/* stylelint-enable selector-max-id */
