// Custom CSS to get uswds working with the bootstrap_layout_builder UI.

.layout-builder-form {

  .node-layout-builder-form {
    max-width: 100%;
  }

  .usa-alert {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .usa-alert__body {
      margin: 0 !important;
    }
  }

  .entity-view-display-layout-builder-form {
    max-width: 100% !important;
    padding: 1rem 0;

    .layout-builder__message {
      padding-top: 1rem;
    }
  }
}
