.media-library-add-form__input-wrapper {
  margin-bottom: 1.5rem;

  .js-form-item-upload {
    .form-file {
      box-sizing: border-box;
      margin-bottom: 1rem;
      padding: calc(0.75rem - 1px) calc(1rem - 1px);
      color: #232429;
      border: 1px solid #919297;
      border-radius: 15px;
      background: #fff;
      line-height: 1.5rem;
    }
  }
}

/* stylelint-disable */
#views-exposed-form-media-library-widget {
  .media-library-content {
    width: unset !important;

    .usa-button {
      margin-top: 2rem !important;
    }
  }
}
/* stylelint-enable */

.media-library-views-form {
  display: block;
  flex-wrap: wrap !important;
}

.media-library-add-form {
  display: block !important;
  width: 100% !important;
  max-width: 50% !important;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #d3d3d3;
}

.media-library-view {
  .views-exposed-form {
    &.usa-form {
      display: block !important;
      width: 100% !important;
      max-width: 50% !important;
    }

    .usa-label {
      margin-top: 0;
    }

    .usa-button {
      margin-top: 2.375rem;
    }
  }
}

.media-library-views-form__rows {
  .media-library-item__attributes {
    bottom: 10px !important;
    background: transparent;
  }
}
