@import "../../variables";
@import "../../mixins";

// Tooltips
.uswds_tooltip {
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  display: block;
  width: 75px;
  margin-bottom: 15px;
  margin-left: -37.5px;
  padding: 9px 10px;
  transition: all 0.25s ease-in-out;
  transform: translateY(-10px);
  text-align: center;
  white-space: normal;
  pointer-events: none;
  opacity: 0;
  color: $tooltip-text-color;
  border-radius: $border-radius / 2;
  background: $tooltip-bg-color;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  font-size: 0.875rem;
  font-weight: normal;
  will-change: opacity;

  &.uswds_tooltip-lg {
    width: 150px;
    margin-left: -75px;
  }

  &::after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -13px;
    content: " ";
    border-top: solid $tooltip-bg-color 10px;
    border-right: solid transparent 10px;
    border-left: solid transparent 10px;
  }

  &[data-placement="bottom"] {
    top: 100%;
    bottom: auto;
    margin-top: 15px;
    transform: translateY(10px);

    &::after {
      top: -10px;
      bottom: auto;
      border-top: 0;
      border-bottom: solid $tooltip-bg-color 10px;
    }
  }
}

// Show on hover
label {
  position: relative;

  &:hover .uswds_tooltip {
    transform: translateY(0);
    pointer-events: auto;
    opacity: 1;
  }
}

// Fullwidth tooltips
.uswds_full-label > .form-item > label {
  display: block;

  // Full-width tooltips
  .uswds_tooltip-lg {
    width: 100%;
    margin-left: -50%;

    &::after {
      left: 2rem;
    }
  }
}
