
@import "base";

// Mixin that generate a color based classes like
// "color" or "background-color".
//
// @param $prop
//   Like color or background-color.
// @param $abbrev
//   The word after class prefix like text or bg.
@mixin make-color($prop, $abbrev, $is_bg_color: false) {
  // Generate the general classes first.
  @each $color_key, $color_value in $uswds_text_colors {
    // The class style.
    @include base-rule(".#{$abbrev}-#{$color_key}", "#{$prop}", "#{$color_value} !important");

    @if $is_bg_color == false {
      @include base-rule(".#{$abbrev}-#{$color_key} .field--type-text-long a", "#{$prop}", "#{$color_value}");
      @include base-rule(".#{$abbrev}-#{$color_key} .field--type-text-with-summary a", "#{$prop}", "#{$color_value}");

      @include base-rule(".#{$abbrev}-#{$color_key} .field--type-text-long a:visited", "#{$prop}", "#{$color_value}");
      @include base-rule(".#{$abbrev}-#{$color_key} .field--type-text-with-summary a:visited", "#{$prop}", "#{$color_value}");
    }

    // Fix the dispaly on off-canvas dialog.
    #{$bs_off_canvas_selector} {
      @include base-rule(".#{$abbrev}-#{$color_key}", "#{$prop}", "#{$color_value} !important");
    }
  }

  // Then generate the classes for Breakpoints.
  @each $breakpoint_key, $media in $uswds_breakpoints {
    @media #{$media} {
      @each $color_key, $color_value in $uswds_text_colors {
        // The class style.
        @include base-rule(".#{$abbrev}-#{$breakpoint_key}-#{$color_key}", "#{$prop}", "#{$color_value} !important");
      }
    }

    // Fix the dispaly on off-canvas dialog.
    @each $color_key, $color_value in $uswds_text_colors {
      #{$bs_off_canvas_selector} {
        @include base-rule(".#{$abbrev}-#{$breakpoint_key}-#{$color_key}", "#{$prop}", "#{$color_value} !important");
      }
    }
  }

}
