@import '../../../variables';
@import '../../../mixins';

/**
 * @file
 * Table drag behavior for off-canvas dialog.
 *
 * @see tabledrag.js
 */

.drag {
  cursor: move;
}

tr.region-title {
  font-weight: normal;
}

table {
  .region-message {
    color: #ffffff;
  }

  .region-populated {
    display: none;
  }
}

.add-new .tabledrag-changed {
  display: none;
}

.draggable a.tabledrag-handle {
  float: left; /* LTR */
  overflow: hidden;
  min-width: 20px;
  height: auto;
  margin: 0 5px 0 0;
  padding: 0;
  cursor: move;
  text-decoration: none;
  background-image: none;

  .handle {
    @include smooth-all-transition;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
    /* Use lighter drag icon against dark background. */
    background-image: $move_icon;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    opacity: .75;
  }
}

.draggable a.tabledrag-handle:hover .handle,
.draggable a.tabledrag-handle:focus .handle {
  text-decoration: none;
  opacity: 1;
}

tr {
  td {
    transition: background 0.3s ease;

    abbr {
      margin-left: 5px; /* LTR */
    }
  }

  &:hover {
    td {
      background: darken($panel_bg_color, 5%);
    }
  }

  &.drag {
    td {
      background: darken($panel_bg_color, 7%);
    }
  }
}


tr.drag-previous {
  td {
    background: darken($panel_bg_color, 10%);
  }

  &:hover td {
    background: darken($panel_bg_color, 12%);
  }
}

button.link.tabledrag-toggle-weight {
  color: $panel_link_color;
  outline: none;
  margin-bottom: 1rem;
}

div.tabledrag-changed-warning {
  color: darken($state-warning, 10%);
  margin-bottom: 1.5rem;
}

.touchevents {
  .draggable td {
    padding: 0 10px;
  }

  .draggable .menu-item__link {
    display: inline-block;
    padding: 10px 0;
  }

  .tabledrag-handle {
    width: 40px;
    height: 44px;

    .handle {
      height: 21px;
      background-position: 40% 19px; /* LTR */
    }
  }

  .draggable.drag a.tabledrag-handle .handle {
    background-position: 50% -32px;
  }
}

.tabledrag-toggle-weight-wrapper {
  padding-top: 10px;
  text-align: right; /* LTR */
}

.indentation {
  margin: 0 3px 0 -10px; /* LTR */
  padding: 0 0 0 10px; /* LTR */
  float: left; /* LTR */
  width: auto;
  height: auto;
}

[dir='rtl'] {
  .draggable .tabledrag-handle {
    float: right;
    margin-right: 0;
    margin-left: 5px;
  }

  tr td abbr {
    margin-right: 5px;
    margin-left: 0;
  }

  .touch .tabledrag-handle .handle {
    background-position: right 40% top 19px;
  }

  .tabledrag-toggle-weight-wrapper {
    text-align: left;
  }

  .indentation {
    float: right;
    margin: 0 -10px 0 3px;
    padding: 0 10px 0 0;
  }
}
