{#
 /**
  * @file
  * Default theme implementation of border preview box.
  *
  * @ingroup themeable
  */
#}

{{ attach_library('uswds_blb_configuration/plugins_groups.border.border_preview') }}

<div data-uswds-element="uswds_preview-box" id="uswds-border-preview">
  {{ 'Preview'|t }}
</div>
