{#
 /**
  * @file
  * Default theme implementation of spacing preview box.
  *
  * @ingroup themeable
  */
#}

{{ attach_library('uswds_blb_configuration/plugins_groups.shadow.shadow_preview') }}

<div data-uswds-element="uswds_preview-box" data-uswds-mode="light" class="uswds-shadow-preview">
  <label class="uswds-toggle-switch">
    <input class="uswds-toggle-switch--input" type="checkbox" data-theme-toggle>
    <span class="uswds-toggle-switch--slider"></span>
  </label>

  <div data-uswds-element="uswds_preview-element">
    {{ 'Preview'|t }}
  </div>
</div>
